.scrollTopBtn {
  /* background-color: var(--bg-color-secondary); */
  background: linear-gradient(45deg, #285cd8, #e40cd7);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.8rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  transition: opacity 100ms cubic-bezier(0.5, 0, 0.15, 1.1);
}

.show {
  opacity: 100;
}

.hide {
  opacity: 0;
}
