.about-section {
  margin: 120px 50px 30px;
}

.about-section #heading-img {
  width: 100%;
}

.about-section p {
  color: #fbfafa;
  font-weight: 200;
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.about-section a {
  padding-left: 5px;
}
