.about-section {
  margin: 120px 60px 30px;
}

.about-section #heading-img {
  width: 100%;
}

.about-section p {
  color: var(--text-secondary);
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.about-section a {
  font-weight: bold;
  padding-left: 5px;
}
