.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 50px 100px;
}

.search-section {
  position: relative;
  margin: 1rem 0 3rem;
  /* width: 600px; */
}

#search {
  position: relative;
  width: 550px;
  padding: 1.2rem;
  font-size: 1rem;
  background-color: var(--bg-color-secondary);
}

.search-btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--cta-primary);
  color: white;
  /* padding: 0.8rem 1rem; */
  cursor: pointer;
  border-radius: 3px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

@media (max-width: 768px) {
  #search {
    width: 500px;
  }

  .search-btn {
    top: 7px;
    right: 09px;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #search {
    font-size: 0.8rem;
    width: 300px;
  }
}
