.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 50px 100px;
}

#selected {
  border: none;
  background-color: #e40cd7;
  color: var(--color-white);
}

.search-section {
  position: relative;
  margin: 1rem 0 3rem;
  /* width: 600px; */
}

#search {
  position: relative;
  width: 650px;
  padding: 1.2rem;
  font-size: 1rem;
  background-color: var(--bg-color-secondary);
}

.search-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--black);
  color: white;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  top: 7px;
  right: 13px;
}

@media (max-width: 768px) {
  #search {
    width: 500px;
  }

  .search-icon {
    top: 7px;
    right: 09px;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #search {
    font-size: 0.8rem;
    width: 300px;
  }
}

/* .tag-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin: 20px 0;
}

.tag {
  background-color: #c3ccf6;
  color: #051b8a;
  cursor: pointer;
  margin: 2px;
  padding: 8px 3px;
  width: 80px;
}

.tag:hover {
  border: none;
  background-color: #e40cd7;
  color: #fff;
} */
