.hero-section {
  background-image: url("../../assets//images/floating-icons.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 50px;
}

.tagline {
  color: var(--text-secondary);
  font-size: 1.1rem;
  max-width: 800px;
  padding: 10px 0;
  margin: 0 auto;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .tagline {
    font-size: 0.96rem;
    line-height: 1.5;
  }
  .hero-section {
    background-position: 10% 50%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 4.8rem !important;
    margin-top: -4px;
  }
  #highlights {
    display: block;
  }
  .tagline {
    font-size: 1rem !important;
    line-height: 1.5;
  }
}
