.newsletter-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter-title {
  letter-spacing: normal;
}

.newsletter-subtitle {
  margin: 5px 0 20px;
}

#newsletter-form {
  position: relative;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 50px 0px;
}

.newsletter-subscribe {
  position: relative;
  margin: 1rem 0 3rem;
}

#email {
  position: relative;
  width: 550px;
  padding: 1.2rem;
  font-size: 1rem;
  background-color: var(--bg-color-secondary);
}

.subscribe-btn {
  position: absolute;
  background-color: var(--cta-primary);
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

.alert-success {
  color: #12e965;
  font-style: italic;
}

@media (max-width: 768px) {
  #email {
    width: 500px;
  }

  .subscribe-btn {
    top: 7px;
    right: 09px;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #email {
    font-size: 0.8rem;
    width: 300px;
  }
}
