@media (max-width: 768px) {
  #email {
    width: 500px !important;
  }

  #subscribe-btn {
    top: 7px;
    right: 9px;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #email {
    font-size: 0.8rem;
    width: 300px !important;
  }
}
