.contact-section {
  margin: 120px 25px 30px;
}

.contact-section #heading-img {
  width: 100%;
}

.contact-section p {
  color: var(--text-secondary);
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.contact-section a {
  font-weight: bold;
  padding-left: 5px;
}

.form-container {
  margin: 0;
}

label {
  margin-bottom: 10px;
}

textarea {
  background-color: var(--bg-color-secondary);
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 1rem;
  padding: 15px;
  resize: none;
  min-height: 100px;
}

.tagline {
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
}
