.home {
  /* margin: 150px 50px 0; */
  margin: 200px 0 0;
  width: 100vw;
}

.hero-section,
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* text-align: center; */
  margin: 10px 50px;
}

.title {
  background: var(--cta-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlights {
  color: #e20c5a;
}

.tagline {
  padding: 10px 0;
}

.tag-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin: 20px 0;
}

.tag {
  background: #b0aff8;
  cursor: pointer;
  margin: 2px;
  padding: 8px 3px;
  width: 80px;
}

.tag:hover {
  border: none;
  background-color: #e40cd7;
  color: #fff;
}

#selected {
  border: none;
  background-color: #e40cd7;
  color: var(--color-white);
}

.search-section {
  position: relative;
  margin: 10px 0;
  /* width: 100%; */
  width: 50%;
}

.dropdown {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}

.dropdown select {
  padding: 10px 0;
}

#search {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  color: #bebebe;
  cursor: pointer;
  top: 18px;
  right: 18px;
}

/* .dropdowns {
  padding: 30px;
} */

.featured {
  background: var(--cta-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  width: 100vw;
}

.featured h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.featured img {
  padding: 0 10px;
  width: 150px;
}

@media (max-width: 650px) {
  .category {
    margin: 25px 30px;
  }
}
