.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  gap: 18px;
  text-align: center;
}

.card {
  border-radius: 5px;
  border: 1px solid var(--border-color-secondary);
  padding: 1rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  border: 0.4px solid var(--cta-secondary);
  transform: scale(1.02);
}

.card-img {
  cursor: pointer;
}

.card-img img {
  object-fit: cover;
  width: 250px;
  height: 180px;
}

.card-info {
  text-align: left;
}

#resource-title {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
}

.description {
  color: var(--text-secondary);
  font-size: 0.85rem;
  line-height: 140%;
  margin-top: 0;
}

@media screen and (max-width: 580px) {
  .title-link h2 {
    font-size: 1rem;
  }

  .card-img img {
    height: 180px;
    width: 480px;
  }
  .card-info {
    padding-top: 10px;
  }
}

@media screen and (max-width: 460px) {
  .card-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
  .card-img img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .card-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
  }
  .card-img img {
    width: 220px;
    height: 150px;
  }
}
