.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  width: 100vw;
}

.featured h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.brands {
  background-color: #efeef8;
}

.featured img {
  /* filter: blur(20%), brightness(10%), grayscale(60%); */
  padding: 0 10px;
  width: 150px;
}
