.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 0.5rem 0rem;
  width: 100%;
  transition: all 0.4s ease-in;
  z-index: 99;
}

.nav-height {
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow);
  height: 55px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.logo-image {
  width: 25px;
}

.logo-name {
  color: var(--text-primary);
  font-family: "Clash Display Variable", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 5px;
}

.hamburger-icon {
  display: none;
  position: absolute;
  color: var(--text-primary);
  cursor: pointer;
  right: 50px;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-links li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 20px;
}

.nav-links li a {
  position: relative;
  color: var(--text-secondary);
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding-bottom: 24px;
  z-index: 3;
}

.nav-links a:hover {
  border-bottom: 3px solid var(--cta-secondary);
  color: var(--cta-secondary);
}

.hamburger-icon {
  display: none;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.theme-switch {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--cta-secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  transition: 0.4s;
  background-color: #e9e9e9;
  z-index: 2;
}

input:checked + .slider {
  background-color: var(--neutral);
  border: 1px solid var(--text-secondary);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.circle {
  border-radius: 25px;
}

.slider.circle:before {
  border-radius: 50%;
}

.scroll-indicator {
  background-color: var(--cta-primary);
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
}

.scroll-indicator:hover {
  background-color: var(--cta-secondary);
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    display: flex;
  }

  .nav .logo,
  .hamburger-icon {
    margin-top: 10px;
  }

  .hamburger-icon {
    display: block;
    z-index: 4;
  }

  .nav-links {
    display: none;
  }

  .mobile-nav {
    background-color: var(--bg-color-secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -40px;
    height: 100px;
    left: 12px;
    height: 350px;
    transition: all 0.5s ease-in-out;
  }
  .nav-links a:hover {
    border-bottom: none;
    border-radius: 2px;
    padding: 5px 8px;
  }
  .theme-switch-wrapper {
    margin: 20px;
  }
}
