.footer {
  background-color: var(--black);
  color: var(--neutral);
}

.footer-nav {
  margin: 0 50px;
}

.footer-nav .logo {
  color: var(--neutral);
  display: block;
  margin-left: 0px;
  /* margin-right: 25px; */
}

.footer-nav .logo-name {
  color: var(--neutral);
}

.footer-nav p {
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer-about {
  display: flex;
  align-items: center;
}

.socials > a {
  border-radius: 4px;
  border: #666;
  font-size: 1.25rem;
  /* margin: 0.2rem 0; */
  padding: 0 0.2rem;
  transition: 0.2s ease-in-out;
}

.socials a:hover {
  background: #111;
  color: #ddd;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  /* margin: 25px 0; */
  padding: 20px 0;
}

.footer-links:nth-child(2) {
  margin-left: 50px;
}

.footer-links h3 {
  font-size: 1rem;
}

.footer-links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-links li a {
  color: var(--neutral);
  cursor: pointer;
  opacity: 0.7;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.footer-links li a:hover {
  opacity: 1;
}

.footer-attribution {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin: 20px 50px;
}

.footer-attribution a {
  margin-left: 5px;
}

.vercel-logo {
  width: 50px;
}

@media screen and (max-width: 880px) {
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .footer-attribution {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 450px) {
  .footer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
