.newsletter-section {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  padding: 30px;
  text-align: center;
}

.newsletter-subtitle {
  margin: 5px 0 20px;
}

.newsletter-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-subscribe > form {
  border-radius: 4px;
  border: 1px solid #e1ecff;
  position: relative;
  background: #fff;
  padding: 4px 10px;
  width: 400px;
}

.newsletter-subscribe form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
  /* width: 100%; */
}

.subscribe-btn {
  background: linear-gradient(45deg, #285cd8, #e40cd7);
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 16px;
  margin: 2px;
  padding: 0 5px;
  width: 105px;
  transition: all 0.3s ease-in-out;
}

.footer-nav {
  margin: 0 50px;
}

.footer-nav .logo {
  display: block;
  margin-left: 0px;
}

.footer-nav p {
  padding: 10px 0 15px;
  width: 50%;
  line-height: 1.3;
}

.footer-about {
  display: flex;
  align-items: center;
}

.socials > a {
  border-radius: 4px;
  border: #666;
  font-size: 1.5rem;
  margin: 0.2rem 0;
  padding: 0.5rem 0.3rem;
  transition: 0.2s ease-in-out;
}

.socials a:hover {
  background: #111;
  color: #ddd;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 25px 0;
}

.footer-links ul:first-child {
  padding-left: 0;
}

.footer-links ul:last-child {
  padding-right: 0;
}

.footer-list li {
  cursor: pointer;
  padding-bottom: 10px;
}

.footer-attribution {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.footer-attribution a {
  margin-left: 5px;
}
