@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

#root,
html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  --bg-color-primary: linear-gradient(
    to right bottom,
    #eecde0,
    #e1d5ea,
    #d8dcec,
    #d5deed
  );
  --bg-color-secondary: rgba(243, 243, 243, 0.5);
  --text-primary: #00060f;
  --text-secondary: #080e18;
  --color-white: #f2f2f2;
  --cta-primary: #3f86df;
  --box-color: #223351;
  --highlight: #5d7191;
  --box-shadow: 2px 2px 2px rgba(34, 34, 34, 0.3),
    2px 2px 2px rgba(34, 34, 34, 0.3);
} */

/* [data-theme-color="dark"] */
:root {
  --bg-color-primary: linear-gradient(#16163d, #14142d);
  --bg-color-secondary: #333366;
  --text-primary: #f6f6f6;
  --color-white: #f6f6f6;
  --text-secondary: #000000;
  --cta-primary: linear-gradient(45deg, #285cd8, #e40cd7);
  --box-color: #0a0a1f;
  --highlight: #9966cc;
  --box-shadow: 2px 2px 2px rgba(98, 98, 98, 0.3),
    2px 2px 2px rgba(98, 98, 98, 0.3);
}

@font-face {
  font-family: "ClashDisplay";
  src: local("./assets/fonts/ClashDisplay-Variable.ttf"),
    url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color-primary);
  color: var(--text-primary);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "ClashDisplay", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p,
li {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--cta-primary);
  text-decoration: none;
}

input,
button {
  display: block;
  border: 1px solid #285cd8;
  border-radius: 3px;
  color: #222;
  outline: none;
  padding: 1rem;
  transition: border 0.3s ease-in-out;
}

/* Resource Card */
.category {
  position: relative;
  margin: 25px 50px;
}

/* --Media queries-- */
@media screen and (max-width: 790px) {
  .logo {
    margin-left: 25px;
  }

  .hamburger-icon {
    right: 25px;
  }

  .hero-section,
  .filter-section {
    margin: 8px 25px;
  }

  .category {
    margin: 2px 25px;
  }

  .card-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-nav {
    margin: 0 25px;
  }

  .footer-attribution {
    margin: 15px 25px;
  }

  .about-section {
    margin: 140px 25px 30px;
  }
}

@media screen and (max-width: 560px) {
  .home {
    margin: 140px 0 0;
  }

  .home h1 {
    font-size: 2.4rem;
  }

  .card-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .newsletter-title {
    font-size: 1.4rem;
  }

  .newsletter-subtitle {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 440px) {
  .footer-nav p {
    width: 100%;
  }

  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
