@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

#root,
html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #efeef8;
  --text-primary: #00060f;
  --text-secondary: rgba(0, 0, 0, 0.5);
  --cta-primary: #4262ff;
  --cta-secondary: #3f86df;
  --input-color: #f4f4f4;
  --border-color: #777777;
  --border-color-secondary: rgba(0, 0, 0, 0.09);
  --box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1);
  --black: #000;
  --neutral: #fff;
  --skeleton-background: #fff;
  --skeleton-avatar: #efefef;
  --skeleton-heading: #f0f0f0;
  --skeleton-shimmer: rgba(255, 255, 255, 0.481);
  --skeleton-shadow: 0 0 30px 30px rgba(252, 252, 252, 0.33);
}

[data-theme-color="dark"] {
  --bg-color-primary: #0c0b0f;
  --bg-color-secondary: #18151e;
  --text-primary: #f6f6f6;
  --text-secondary: #b3b3b3;
  --cta-primary: #4262ff;
  --cta-secondary: #3f86df;
  --input-color: #f4f4f4;
  --border-color: #eaeaeaf0;
  --border-color-secondary: rgba(255, 255, 255, 0.09);
  --box-shadow: 0 10px 6px -10px rgba(128, 128, 128, 0.651);
  --black: #100e15;
  --neutral: #fff;
  --skeleton-background: #181818;
  --skeleton-avatar: #151515;
  --skeleton-heading: #161616;
  --skeleton-shimmer: rgba(47, 47, 47, 0.139);
  --skeleton-shadow: 0 0 30px 30px rgba(67, 67, 67, 0.33);
}

@font-face {
  font-family: "Varent Grotesk";
  src: local("./assets/fonts/VarentGrotesk-Bold.otf"),
    url("./assets/fonts/VarentGrotesk-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Clash Display Variable";
  src: local("./assets/fonts/ClashDisplay-Variable.ttf"),
    url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color-primary);
  color: var(--text-primary);
  width: 100vw;
  height: 100vh;
}

h1,
h2 {
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.title {
  background: linear-gradient(#dd00ff, #4e00ec);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Varent Grotesk", sans-serif;
  font-size: 5rem;
  font-weight: 800;
}

#highlights {
  background: var(--border-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#heading {
  font-size: 2.5rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

p,
li {
  font-family: "Inter", sans-serif;
}

.subheading {
  font-size: 0.875rem;
}

.detail-text {
  font-size: 0.85rem;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--cta-secondary);
  font-weight: 600;
  text-decoration: none;
}

input,
button {
  display: block;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
}

input {
  background-color: var(--input-color);
  color: var(--text-primary);
  border: 1px solid transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary);
}

input:focus,
textarea:focus {
  border: 1px solid var(--cta-secondary);
}

button {
  background-color: var(--cta-primary);
  border-radius: 4px;
  color: var(--neutral);
  cursor: pointer;
}

button:hover {
  background-color: var(--cta-secondary);
}

select {
  background: var(--bg-color-secondary);
  border: none;
  color: var(--text-secondary);
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 16px 5px;
  margin: 0 5px;
}

.category {
  position: relative;
  margin: 25px 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 30px;
}

.form {
  border: 0.5px solid #201f1ff0;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px 30px;
  width: 450px;
}

.input-cta {
  position: absolute;
  background-color: var(--cta-primary);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

/* --Media queries-- */
@media screen and (max-width: 790px) {
  .logo {
    margin-left: 25px;
  }

  .hamburger-icon {
    right: 25px;
  }

  .title {
    font-size: 3.3rem;
  }

  .tagline {
    font-size: 0.85rem;
  }

  .category {
    margin: 2px 25px;
  }

  .footer-nav {
    margin: 0 25px;
    overflow-x: hidden;
  }

  .footer-attribution {
    margin: 15px 25px;
  }

  .about-section {
    margin: 140px 25px 30px;
  }
}

@media (max-width: 650px) {
  .category {
    margin: 25px 30px;
  }
  .filter-sort {
    padding: 0 30px;
  }
}

@media screen and (max-width: 560px) {
  .home {
    margin: 140px 0 0;
  }

  .home h1 {
    font-size: 2.4rem;
  }

  .newsletter-title {
    font-size: 1.4rem;
  }

  .newsletter-subtitle {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 510px) {
  .form {
    width: 350px;
  }
}

@media screen and (max-width: 440px) {
  #heading,
  h2 {
    font-size: 1.5rem;
  }

  .contact-section p,
  .about-section p {
    font-size: 1rem;
  }

  .footer-nav p {
    width: 100%;
  }
  .footer-list {
    min-width: 260px;
  }
}

@media screen and (max-width: 385px) {
  .home h1 {
    font-size: 1.8rem;
  }
  .tagline {
    font-size: 0.75rem;
  }
  .form {
    width: 280px;
  }
}
