@import url("http://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

#root,
html,
body,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  --bg-color-primary: linear-gradient(
    to right bottom,
    #fac3b4,
    #f9c6cc,
    #eecde0,
    #e1d5ea,
    #d8dcec,
    #d5deed,
    #d2e0ed,
    #d0e2ec,
    #c8e2f0,
    #c0e2f4,
    #b7e3f7,
    #ade3fb
  );
  --bg-color-secondary: rgba(235, 235, 235, 0.5);
  --text-primary: #111;
  --text-secondary: #333;
  --color-white: #f2f2f2;
  --cta-primary: #0ab635;
  --box-color: #e4e4e4;
  --highlight: #47b147;
  --box-shadow: 2px 2px 2px rgba(34, 34, 34, 0.3),
    2px 2px 2px rgba(34, 34, 34, 0.3);
} */

/* [data-theme-color="dark"] */
:root {
  --bg-color-primary: linear-gradient(rgb(22, 22, 61), rgb(20, 20, 45));
  --bg-color-secondary: #333366;
  --text-primary: #f6f6f6;
  --color-white: #f6f6f6;
  --text-secondary: #f6f6f6;
  --cta-primary: linear-gradient(45deg, #285cd8, #e40cd7);
  --box-color: #0a0a1f;
  --highlight: #9966cc;
  --box-shadow: 2px 2px 2px rgba(98, 98, 98, 0.3),
    2px 2px 2px rgba(98, 98, 98, 0.3);
}

/* --cloud-burst: #223351;
--geyser: #cfdae3;
--royal-blue: #3f86df;
--waikawa-gray: #5d7191;
--nepal: #84a1ba;
--nevada: #636f78;
--salt-box: #615b6a;
--fiord: #47596e;
--ebony: #0e1722; */

/* ["223351","cfdae3","3f86df","5d7191","84a1ba","636f78","615b6a","47596e","0e1722"] */

/* --black-pearl: #060e26;
--chatelle: #b2a9c5;
--indigo: #484ebc;
--astronaut: #23316d;
--ocean-green: #459f84;
--bunting: #15204a;
--bossanova: #461e47;
--cannon-pink: #904784;
--nandor: #4a514c; */

/* --cerise: #d0248a;
--affair: #663b88;
--violet: #190835;
--whisper: #ede5f0;
--jacarta: #3e2966;
--bali-hai: #7ea0b4;
--eggplant: #70486d;
--lavender-purple: #8378b3;
--scarpa-flow: #535162; */

/* darkmode */

@font-face {
  font-family: "Mecha";
  src: url("./assets/fonts/mecha_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.darkmode .card {
  background: rgba(87, 95, 171, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.darkmode .tags {
  background-color: rgba(4, 4, 16, 0.596);
}

.darkmode .tags:hover {
  background-color: rgba(13, 13, 38, 0.596);
}

.darkmode .text-color {
  background-color: #00060f;
  background-color: #080e18;
}

/* darkmode ends */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color-primary);
  color: var(--text-primary);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Clash Display", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p,
li {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--cta-primary);
  text-decoration: none;
}

input,
button {
  display: block;
  border: 1px solid #285cd8;
  border-radius: 3px;
  color: #222;
  outline: none;
  font-size: 0.9rem;
  /* width: 100%; */
  padding: 1rem;
  transition: border 0.3s ease-in-out;
}

/* Resource Card */
.category {
  position: relative;
  margin: 25px 50px;
}

/* --Media queries-- */
@media screen and (max-width: 790px) {
  .logo {
    margin-left: 25px;
  }

  .hamburger-icon {
    right: 25px;
  }

  .hero-section,
  .filter-section {
    margin: 8px 25px !important;
  }

  .category {
    margin: 2px 25px !important;
  }

  .card-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-nav {
    margin: 0 25px;
  }

  .footer-attribution {
    margin: 15px 25px;
  }
}

@media screen and (max-width: 560px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .footer-nav p {
    width: 100%;
  }

  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
