.form-text {
  margin: 120px 50px 30px;
  text-align: center;
}

.form-text p {
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 1.6;
}

.form input {
  background-color: var(--bg-color-secondary);
  margin: 5px 0 10px;
}

.submit-btn {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 20px;
}

@media screen and (max-width: 440px) {
  .form {
    width: 300px;
  }
}
