.form-container {
  margin: 200px 50px 30px;
}

.form-text p {
  width: 60%;
}

form {
  border: 0.5px solid var(--border-color);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  /* width: 300px; */
  width: 400px;
}

form input {
  background-color: var(--bg-color-secondary);
  margin: 5px 0 10px;
}

.contact-btn {
  margin-top: 20px;
}
